body {
  background-color: #2c2c2c;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.quotebox {
  max-width: 90%; /* Mobile */
  margin: 20px auto;
  padding: 15px;
  background-color: #7d7d7d;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; /* Positionierung für absolute Kinder-Elemente */
  overflow: visible; /* Sichtbarkeit der Elemente außerhalb der Box */
  padding-bottom: 70px;
}

.quotebox h1 {
  font-size: 1.5em; /* Mobile */
  color: #90ee90;
  margin-bottom: 10px;
}

.quotebox p {
  font-size: 1.2em; /* Mobile */
  color: #add8e6;
  font-style: italic;
}

.dice-icon-wrapper {
  position: absolute; /* Absolute Positionierung innerhalb der Quotebox */
  bottom: -20px; /* Würfel über die Unterkante hinausragen lassen */
  left: 50%; /* Zentriert horizontal */
  transform: translateX(-50%); /* Perfekte Zentrierung */
  width: 40px; /* Würfelgröße für Mobile */
  height: 40px;
  background-color: #90ee90;
  border-radius: 50%; /* Kreisform */
  display: flex; /* Zentrierung des Inhalts im Kreis */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-icon {
  width: 30px; /* Größe des Würfels (Icon) für Mobile */
  height: 30px;
}

/* Dynamisches Pattern Divider */
.pattern-divider {
  margin-bottom: 20px; /* Abstand unterhalb des Dividers für Mobile */
}

/* Media Queries für größere Bildschirme */
@media (min-width: 1024px) {
  .quotebox {
    max-width: 600px; /* Desktop Ansicht: Breite der Box */
    padding: 30px; /* Mehr Padding für Desktop */
    margin: 40px auto;
    border-radius: 15px; /* Größere Abrundung der Ecken */
    padding-bottom: 100px; /* Extra Platz für Dividers in größerer Ansicht */
  }

  .quotebox h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .quotebox p {
    font-size: 1.4em;
  }

  .dice-icon-wrapper {
    width: 50px; /* Desktop Würfelgröße */
    height: 50px;
    bottom: -25px; /* Würfel über die Unterkante hinausragen lassen */
  }

  .dice-icon {
    width: 35px; /* Würfelgröße für Desktop */
    height: 35px;
  }

  /* dynamisches Pattern Divider für Desktop-Ansicht: Wenn die Bildschirmbreite 1024px oder größer ist, ersetzt die CSS-Eigenschaft content das Bild durch das Desktop Pattern Divider (pattern-divider-desktop.svg).
 className="pattern-divider" verwenden, ohne zusätzliche Logik in TS hinzuzufügen. */
  .pattern-divider {
    margin-bottom: 60px; /* Abstand unterhalb des Dividers für Desktop */
    content: url("/images/pattern-divider-desktop.svg"); /* Desktop-spezifisches Bild */
  }
}
