body {
  background-color: #2c2c2c;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.quotebox {
  max-width: 90%; /* Mobile */
  margin: 20px auto;
  padding: 15px;
  background-color: #7d7d7d;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  overflow: visible;
}

.quotebox h1 {
  font-size: 1.5em; /* Mobile */
  color: #90ee90;
  margin-bottom: 10px;
}

.quotebox p {
  font-size: 1.2em; /* Mobile */
  color: #add8e6;
  font-style: italic;
}

.dice-icon-wrapper {
  position: absolute;
  bottom: -40px; /* Abstand zur unteren Kante */
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* Größe des Kreises */
  height: 50px;
  background-color: #90ee90;
  border-radius: 50%; /* Kreisform */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .dice-icon {
    width: 30px; /* Würfelgröße */
    height: 30px;
  }

  /* Dynamisches Pattern Divider */
  .pattern-divider {
    margin-bottom: 30px;
  }

  /* Media Queries für größere Bildschirme */
  @media (min-width: 1024px) {
    .quotebox {
      max-width: 600px;
      padding: 30px;
      margin: 40px auto;
      border-radius: 15px;
    }

    .quotebox h1 {
      font-size: 2em;
      margin-bottom: 20px;
    }

    .quotebox p {
      font-size: 1.4em;
    }

    .dice-icon-wrapper {
      width: 70px; /* Größere Größe für Desktop */
      height: 70px;
      bottom: -60px; /* Mehr Abstand zur unteren Kante */
    }

    .dice-icon {
      width: 40px; /* Größere Würfelgröße für Desktop */
      height: 40px;
    }

    /* dynamisches Pattern Divider für Desktop-Ansicht: Wenn die Bildschirmbreite 1024px oder größer ist, ersetzt die CSS-Eigenschaft content das Bild durch das Desktop Pattern Divider (pattern-divider-desktop.svg).
 className="pattern-divider" verwenden, ohne zusätzliche Logik in TS hinzuzufügen. */
    .pattern-divider {
      margin-bottom: 50px; /* Abstand anpassen */
      content: url("/images/pattern-divider-desktop.svg");
    }
  }
}
